html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

.Clicky {
    cursor: pointer;
}

.table tbody tr {
    height: 35px;
}

.table thead tr {
    height: 50px;
}

.ImagePost {
    width: 90%;
    border-radius: 10%;
}

.MovieFlex {
    display: flex;
}

.POSTER1 {
  width: 30%;
  text-align: left;
}

.POSTER2 {
  padding-left: 20px;
  width: 70%;
  text-align: left;
}

.MovieID {
    font-size: 30px;
    font-weight: bold;
}
.MovieName {
    font-size: 40px;
    font-weight: bold;
}
.MovieRating {
    font-size: 20px;
}
.MovieYear {
    font-size: 20px;
}
.MovieGenre {
    font-size: 20px;

}
.MovieSynopsis {
    font-size: 20px;
    font-weight: bold;
}

.MovieDescription {
    font-size: 15px;
}

.CenterDetails {
    text-align: center;
}

.TrailerVid {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

div {
    font-family: 'Century Gothic';
}

    .poster-cell {
        position: relative;
    }

.poster {
    display: none;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 50%;
    width: 175px;
    max-width: 500px; 
    z-index: 1; 
}

    .Clicky:hover .poster {
        display: block;
    }
    .Preview {
        width: 100px;
    }